<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
</head>

<body>

  <header>
    <div>
      <h1>Best Books!</h1>
  <i class="fa fa-bars"></i>
    </div>
  </header>

  <main>
    <h1>Search Results</h1>
    
    <a href="/">Home</a>
  <a href="/searches/new">search the Google Books API</a>
<br><br>
<p> Your Bookshelf has (<%= count%>) Books </p>

  <section class="bookContain">
          <!--renderBookData = [{}, {}, {},...]-->
    <% books.forEach((item)=>{ %> 
      <div>
        <img src="<%= item.image_url %>">
        <p><%= item.title %></p>
        <p><%= item.author %></p>
        - <form action="/books/<%=item.id%>" method="GET">
          <input type="hidden" name="title" value="<%= item.title %>">
          <input type="hidden" name="author" value="<%= item.author %>">
          <input type="hidden" name="description" value="<%= item.description %>">
          <input type="hidden" name="image_url" value="<%= item.image_url%>">
          <button>View Details</button>
          </form>
          </div>
    <% })%>
  </section>
</main>


<footer>
  <div>
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
<a href="#" class="google"><i class="fa fa-google"></i></a>
<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
<div>
</footer>

</body>
</html>